{% extends "base_Story6.html" %}
{% block content %}
{% load staticfiles %}

<div class="container">
    <h1><p>Write your status! :]</p></h1>
    <form method="POST" action="{% url 'addstatus' %}">
        {% csrf_token %}
        <div class="form-group statuscard">
            <!-- <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Input status"> -->
            {{form.status_content}}
        </div>

        <button type="submit" class="btn btn-primary" id="submit_button">Submit</button>
    </form>

    {% if statuses %}
    {% for eachstatus in statuses %}
    <div class="card statuscard">
        <div class="card-body">
            <p>Status: <br>{{eachstatus.status_content}}</p>
            <a role="button" class="btn btn-danger" href="{% url 'deleteEach' eachstatus.id %}">Delete this</a>

        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>There are no status to post.</p>

    {% endif %}
    
</div>
{% endblock %}





