{% extends "base_Story6.html" %} {% block content %} {% load staticfiles %}

<div class="container">
    <div class="row">
        <h3>Biodata</h3>
        <div class="card">
            <div class="card-content bigcard">
                <div class="row">
                    <div class="col s3 cat">
                        <p class="flow-text ">Full Name</p>
                    </div>
                    <div class="col s9 fill">
                        <p class="flow-text">Nardiéna Althafia Pratama</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s3 cat">
                        <p class="flow-text">Age</p>
                    </div>
                    <div class="col s9 fill">
                        <p class="flow-text">18</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s3 cat">
                        <p class="flow-text">Occupation</p>
                    </div>
                    <div class="col s9 fill">
                        <p class="flow-text">Student</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col s3 cat">
                        <p class="flow-text">Student ID</p>
                    </div>
                    <div class="col s9 fill">
                        <p class="flow-text">1706067645</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s3 cat">
                        <p class="flow-text">Description</p>
                    </div>
                    <div class="col s9 fill">
                        <p class="flow-text">I am a Computer Science student at Universitas Indonesia. I play the piano and am currently learning
                            the cello for orchestra. My favorite food is sushi. I am also kind of an introvert, but try my best
                            to be friendly to people. :))
                        </p>
                    </div>
                </div>



            </div>

        </div>
    </div>


</div>
{% endblock %}