{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="container">

  {% if user.is_authenticated %}

    <div class="card text-center" >
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a> -->
        <h1>HELLO {{user.username }}! You have just logged in!</h1>
        <p>
            Do you wanna log out? (Sorry, for kicking you out so early) :]
            <a href="{% url 'logout' %}">Logout</a>
        
        </p>
          
      </div>
    </div>
  {% else %}
    <div class="card text-center" style="width: 18rem; float: right;">
      <div class="card-body">
        <!-- <h5 class="card-title">Login</h5> -->
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login using Google</a>
      </div>
    </div>
  {% endif %}


  <div class="input-group" id="search-bar" style="float: right;">
    <form id="searchbox-form"><input id="searchbox" type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button id="searchbutton" class="btn btn-search" type="submit"><i class="fa fa-search fa-fw"></i> Search</button>
      </span>
    </form>
  </div>
  <div>
    <p id="counter" name="counter" style="font-size: 20pt; font-family: 'Nunito'; float: right;">0</p>
  </div>

  
</div>



<div class="table">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Book Cover</th>

              <th scope="col">Book Title</th>
              <th scope="col">Author/s</th>
              <th scope="col">Publisher</th>
              <th scope="col">Fav</th>

            </tr>
          </thead>
          <tbody>
            
          </tbody>
    </table>
</div>


{% endblock %}
