{% extends "base.html" %} {% block content %} {% load staticfiles %}

<div class="container">

  <div class="row">
    <div class="card horizontal z-depth-3">
      <div class="col s4 l3 imagecolumn">
        <img class="btn tooltipped" data-position="bottom" data-tooltip="This is my pofile picture" id="pic" class="profile-pic"
          src="{% static 'img/Jakun pic intl womens day.jpeg' %}" style="width: 100%; height: auto">
      </div>


      <!-- <script>
                  $(document).ready(function(){
                      $('[data-toggle="tooltip"]').tooltip();   
                  });
                  </script> -->
      <script>
        $(document).ready(function () {
          $('.tooltipped').tooltip();
        });
      </script>


      <div class="col s8 l9">
        <div class="card-title-text">
          <h2>Nardiéna Althafia Pratama</h2>
        </div>
        <div class="card">
          <div class="card-content">
            <p>Full-time Computer Science Student at Universitas Indonesia
              <br /> About:
              <br /> Likes to play piano, listens to classical music, and reads novels/almanacs</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h3>Biodata</h3>
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s3 cat">
            <p class="flow-text ">Full Name</p>
          </div>
          <div class="col s9 fill">
            <p class="flow-text">Nardiéna Althafia Pratama</p>
          </div>
        </div>

        <div class="row">
          <div class="col s3 cat">
            <p class="flow-text">Age</p>
          </div>
          <div class="col s9 fill">
            <p class="flow-text">18</p>
          </div>
        </div>

        <div class="row">
          <div class="col s3 cat">
            <p class="flow-text">Occupation</p>
          </div>
          <div class="col s9 fill">
            <p class="flow-text">Student</p>
          </div>
        </div>


        <div class="row">
          <div class="col s3 cat">
            <p class="flow-text">Student ID</p>
          </div>
          <div class="col s9 fill">
            <p class="flow-text">1706067645</p>
          </div>
        </div>

        <div class="row">
          <div class="col s3 cat">
            <p class="flow-text">Description</p>
          </div>
          <div class="col s9 fill">
            <p class="flow-text">I am a Computer Science student at Universitas Indonesia. I play the piano and am currently learning the cello
              for orchestra. My favorite food is sushi. I am also kind of an introvert, but try my best to be friendly to
              people. :))
            </p>
          </div>
        </div>



      </div>

    </div>
  </div>
  <!-- <button class="btn waves-effect waves-light temp" name="action">Change theme
  </button>
  <script>
    $(document).ready(function () {
        $("button").click( function () {
            //$(document.body).css({"background-color": "black"});
           
            $(document.body).toggleClass("body2");
          
        });
    });
  </script> -->
</div>



{% endblock %}