{% extends "base.html" %}
{% block content %}
{% load staticfiles %}


    {% if user.is_authenticated %}
    <h1>HELLO {{user.username }}! You have just logged in!</h1>
    <p>
        Do you wanna log out? (Sorry, for kicking you out so early) :]
        <a href="{% url 'logout' %}">Logout</a>
    
    </p>
    {% else %}
        <h1>Sorry, you are not logged in :( </h1>
        <a href="{% url 'books' %}">Login</a>
    {% endif %}

{% endblock %}