.body {
    background:white;
}
.body2{
    background: darksalmon;
}


.nav2{
    background-color: darkslategrey;
}

.navicon>a {
    color: darkslategrey;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.navicon2>a{
    color:#ee6e73;
   
}

.accordion {
    background-color: #ee6e73;
    color: darkslategrey;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    font-family: 'Nunito';
    font-weight: bold;
    transition: 0.4s;
    border-radius: 10pt;
    margin-bottom: 10px;
}

.active, .accordion:hover {
    background-color: #FC9A9F; 
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: rgb(247, 207, 209);
    overflow: hidden;
    border-radius: 10pt;
}

.panel>a{
	font-size: 14px;
    font-family: 'Lato';
}

.panel>h6{
    font-weight: bold;
}

.no-js #loader { 
    display: none;  
}
.js #loader { 
    display: block; 
    position: absolute; 
    left: 100px; 
    top: 0; 
}
.loading{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    /* background-color: #111; */
    /* background: center no-repeat #fff; */
    background: url("/static/img/Preloader_3.b3419887896f.gif") center no-repeat #fff;
}

.table{
    text-align: center;
    max-width: 90%;
    
}

#fav-button{
    cursor: pointer;
}

#search-bar{
    float: left;
}

.imagecolumn {
    /* margin-top: auto;
    margin-bottom: auto;
    padding-left: 0px;
    width: 300px; */
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

/* .card-image>img {
    border-radius: 100px;
    height: 200px;
    width: 200px;
} */

.card.horizontal {
    background-color: #FC9A9F;
    padding: 16px;
    /* height: 300px; */
}

.card-title-text>h2 {
    background-color: #FC9A9F;
    margin: 0;
}
.card {
    margin-bottom: 0;
    background-color: rgb(255, 242, 243);
    border-radius: 20px;
    vertical-align: bottom;
}
.card>.card-content {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.card-content>p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: darkslategrey
}



.flow-text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: darkslategrey;
}

.cat>p {
    text-align: right;
    font-weight: 600;
}

.cat {
    border-right-style: groove;
    border-right-width: 10px;
}

h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: darkslategrey;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: darkslategrey;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

#sub {
    font-weight: 700;
    font-size: 16pt;
}

.validate #name {
    color: red;
}



.mid>a {
    font-weight: 700;
}

.temp {
    position: relative;
    float: right;
}

.signup {
    margin: auto;
    margin-top: 10px;
    width: 80%;
}

 .profile-pic{
    width: 100%;
    height: auto;
    border-radius: 10;
 }

.form-container{
    margin-bottom: 50px;
}

.submit{
    float: left;
    margin-left: 5px;
}

.delete{
    float:left;
    margin-left: 10px;
}


@media (max-width: 1000px){
   h2{
       font-size: 20pt;
   }
   .card.horizontal{
       padding-top:10px;
       padding-bottom: 10px;
       padding-left: 0px;
       padding-right: 0px;
       padding: 5px, 0px, 5px, 0px; 
   }
   .profile-pic{
       /* display: inline-block; */
       width: 100%;
       height: auto;
       border-radius: 10;
       margin-top:0;
   }
   .imagecolumn {
    /* margin-top: auto;
    margin-bottom: auto;
    padding-left: 0px;
    width: 300px; */
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    }
}