body{
    background: lightgray;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: darkslategrey;
}

.iconfont>a{
    color: darkslategrey;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.statuscard{
    margin-top:2%;
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
}

.bigcard{
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
}
