{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Story 6</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Nunito" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Story6main.css' %}">

</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light iconfont" style="background-color: #a3adff;">
        <a class="navbar-brand iconfont" href="{% url 'index' %}" id="nap_logo">
            <!-- <img src="{% static 'img/NAPLogo.png' %}" width="100" height="100" class="d-inline-block align-top" alt=""> -->
            <h2>NAP</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto iconfont">
                <li class="nav-item iconfont">
                    <a id="home_button" class="nav-link" href="{% url 'index' %}"><strong>Home</strong></a>
                </li>
                <li class="nav-item iconfont">
                    <a id="profile_button" class="nav-link iconfont" href="{% url 'profilepage' %}" ><strong>Profile</strong></a>
                </li>
                
                
            </ul>
            
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>