{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Compiled and minified CSS -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Nunito" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">    
    <script src="{% static "script.js" %}"></script>
    <link rel="stylesheet" href="{% static 'css/main2.css' %}">

</head>

<body>
    <div class="loading">
        <!-- <img src= "{% static 'img/Preloader_3.gif' %}"> </img> -->
    </div>
    <div>

        <nav class="">
            <div class="nav-wrapper navicon mid nav-wrapper2">
                <a href="{% url 'index' %}" class="brand-logo right navicon">~NAP~</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down navicon">
                    <li class="navicon">
                        <a href="{% url 'index' %}">Homepage</a> 
                    </li>
                    <li class="navicon">
                        <a href="{% url 'about' %}">More About Me</a>
                    </li>
                    <li class="navicon">
                        <a href="{% url 'books' %}">Books</a>
                    </li>
                    <li class="navicon">
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </li>
                    <li class="navicon">
                        <a href="{% url 'schedule' %}">Schedule</a>
                    </li>
                    <li class="navicon">
                        <a href="{% url 'displayRegisForm' %}">Registration</a>
                    </li>
                    <!-- <li class="navicon">
                        <a class="button" name="action">Theme
                        </a>
                    
                    
                    </li> -->
                    <li>
                        <label>
                            <input id="radiobutton1" name="group1" type="radio" checked />
                            <span style="color:darkslategrey">Original Theme</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input id="radiobutton2" name="group1" type="radio" />
                            <span style="color:darkslategrey"> Alternative Theme</span>
                        </label>
                    </li>
                    <!-- <script>
                        $(document).ready(function () {
                            $(".button").click( function () {
                                //$(document.body).css({"background-color": "black"});
                               
                                $("body").toggleClass("body2");
                                $("nav").toggleClass("nav2");
                                $(".navicon").toggleClass("navicon2");
                              
                            });
                        });
                    </script> -->
                    <!-- <script type="text/javascript">
                        $(document).ready(function () {
                            $("#radiobutton1").click( function () {
                                $("body").css({"background-color": "white"});
                                $("nav").css({"background-color": "#ee6e73"});
                                $(".navicon>a").css({"color": "darkslategrey"});
                                $("span").css({"color": "darkslategrey"});

                            });
                            $("#radiobutton2").click( function () {
                                $("body").css({"background-color": "darksalmon"});
                                $("nav").css({"background-color": "darkslategrey"});
                                $(".navicon>a").css({"color": "#ee6e73"});
                                $("span").css({"color": "#ee6e73"});

                            });
                        });
                    </script> -->
                </ul>
                
                <ul class="sidenav" id="mobile-demo">
                    <li>
                        <a href="{% url 'index' %}">Homepage</a> <!-- 'namespace in urls.py project: namespace urls.py app' -->
                    </li>
                    <li>
                        <a href="{% url 'about' %}">More About Me</a>
                    </li>
                    <li>
                        <a href="{% url 'books' %}">Books</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </li>
                    <li>
                        <a href="{% url 'schedule' %}">Schedule</a>
                    </li>
                    <li>
                        <a href="{% url 'displayRegisForm' %}">Registration</a>
                    </li>

                    <li>
                        <label>
                            <input id="radiobutton1min" name="group1" type="radio" checked />
                            <span style="color:darkslategrey">Original Theme</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input id="radiobutton2min" name="group1" type="radio" />
                            <span style="color:darkslategrey"> Alternative Theme</span>
                        </label>
                    </li>
                    
                </ul>
                              
                
            </div>
        </nav>

    {% block content %} <!-- filled by the other html pages -->
    {% endblock %} 
    </div>
</body>
<!-- insert footer here if you want -->
</html>
